<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if navCSS }}
    <link rel="stylesheet" href="/css/nav.css">
    {{/if}}
</head>
<body>
<nav>
    <ul>
        <li><a class="{{#if activeHome}}active{{/if}}">testnav</a></li>
    </ul>
</nav>

{{{ body }}}

</body>
</html>