<h1>ASCard WS</h1>
<ul>
  <li><a
      href="https://www.ascard.net/app/login.php"
      target="_BLANK"
    >ASCard</a></li>
  <li><a href="https://phoenix.ascard.net" target="_BLANK">ASCard Phoenix</a></li>
  <li><a href="https://ws.ascard.net/api-docs" target="_BLANK">api-docs</a></li>
  <li><a
      href="https://ws.ascard.net/log/consolelog.txt"
      target="_BLANK"
    >consolelog.txt</a><br />
    (synched every 2 minutes, passenger.log)</li>
</ul>