<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCard WS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>ASCard WS</h1>
    <ul>
        <li><a href="https://www.ascard.net/app/login.php" target="_BLANK">ASCard-App</a></li>
        <li><a href="https://ws.ascard.net/api-docs" target="_BLANK">api-docs</a></li>
        <li><a href="https://ws.ascard.net/log/consolelog.txt" target="_BLANK">consolelog.txt</a> (synched every 2 minutes, passenger.log)</li>
    </ul>
</body>
</html>